@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
}
/* navbar */
.navbar{
    background-color: black !important;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
}
.grocery-img{
    width: 80%;
    margin: 0 auto;
}

.price{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.food{
    background-color: #F8F2E5;

}
.beauty{
    background-color: #f2e9f6;
}
.clothes{
    background-color: #E5F8F2;
}
.btn{
    background-color: black !important;
    color: white !important;
}
.btn:hover{
    background-color: white !important;
    color: black !important;
    border: 2px solid black;
}
body{
    background-color: #F8F2E5;
}
#iconCook{
    color: brown;
}
#iconBeauty{
    color: rgb(248, 63, 63);
}
#iconClothes{
    color: rgb(77, 238, 144);
}
#grocery, #beauty, #clothes{
    margin-right: 0px !important;
    margin-left: 0px !important;
    justify-content: center !important;
}


@media(max-width: 768px){
    .card-text{
        font-size: 26px;
    }
    h5{
        font-size: 22px;
    }
    #navbarSupportedContent{
        display: flex;
        flex-basis: 0px;
    }
}